@model Entidades.Usuario

@{
    Layout = null;
    ViewBag.Title = "Index";

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Index</title>
</head>

<body>
    <div>
        <h1>
            @Html.LabelFor(user => user.Empleado.Persona.Nombres)
            @Html.TextBoxFor(user => user.Empleado.Persona.Nombres)
        </h1>
        <h2></h2>
    </div>
</body>
</html>

