@model Entidades.Usuario
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h1>
    @Html.LabelFor(usr => usr.Empleado.Persona.Nombres)

    @Html.ActionLink("Ayuda", "Ayuda", "Home")

    @
 </h1>

